.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.register-hero {
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-self: stretch;
  min-height: 100vh;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  object-position: center;
  background-image: url("/playground_assets/iqx-azmi-jn01msrsupe-unsplash%20%5B1%5D%202-1500h.png");
  background-position: top left;
  background-blend-mode: overlay;
}
.register-container1 {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}
.register-text {
  font-size: 2rem;
  align-self: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.register-text1 {
  color: var(--dl-color-gray-black);
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.register-navlink {
  text-decoration: underline;
}
.register-textinput {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.register-textinput1 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.register-textinput2 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.register-select {
  width: 231px;
  height: auto;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.register-textinput3 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.register-textarea {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.register-button {
  width: auto;
  margin: var(--dl-space-space-unit);
  background-color: #ffcd61;
}
@media(max-width: 767px) {
  .register-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .register-text {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .register-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .register-container1 {
    grid-template-columns: 1fr;
  }
}
