.footer-footer {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: space-between;
}
.footer-container {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.footer-image {
  height: 2rem;
}
.footer-text {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.footer-icon-group {
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.footer-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text01 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text06 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text11 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text16 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-text19 {
  margin-bottom: var(--dl-space-space-unit);
}


.footer-root-class-name2 {
  align-self: center;
}
@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
  .footer-container {
    align-items: center;
  }
  .footer-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .footer-container1 {
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container {
    align-items: flex-start;
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-container1 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .footer-container3 {
    margin-right: 0px;
  }
  .footer-container4 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
  }
  .footer-container5 {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
  }
  .footer-image {
    margin-bottom: 0px;
  }
  .footer-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container1 {
    align-items: flex-start;
    margin-right: 0px;
    justify-content: space-between;
  }
  .footer-container2 {
    margin-right: var(--dl-space-space-unit);
  }
  .footer-container3 {
    align-self: stretch;
  }
}
